.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 20px;
  
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.topRight{
    padding-right: 10px;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 2px;
}

.userRole {
  font-size: 14px;
  color: white;
  margin-right: 10px;
  /* color: "ButtonText";  */
  font-weight: 600
}

.topAvatarContainer {
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  align-items: center;
  padding: 5px;
}