.main {
  display: flex;
}

.paper {
  padding: 20px;
  width: 600px,
}

.btnstyle {
  margin: 8px 0;
}

.newProduct {
  /* flex: 4; */
  display: 'flex'
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem>input {
  padding: 10px;
}

.addProductItem>select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.productImage {
  width: 300px;
  margin: 80px 20px;
  margin-bottom: 0;
  border-radius: 50%;
  align-content: center;
  border: 3px dashed grey;
  display: flex;
  height: 300px;
  align-items: center;
  flex-direction: column;
}

.imgObject {
  margin-top: 2px;
  width: 95%;
  height: 98%;
  border-radius: 50%;
}

.imageButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageButton {
  width: 80%;
}

.imagewithButton {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 3px dashed grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

